name: Deploy Pages (prod & dev)

on:
  push:
    branches:
      - main
      - dev
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: dev

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: pnpm

      - run: pnpm install

      # ---------- Build PROD ----------
      - name: Build prod
        if: github.ref == 'refs/heads/main'
        run: |
          VITE_API_BASE=/ pnpm build
          mkdir -p output
          cp -r dist/* output/

      # ---------- Build DEV ----------
      - name: Build dev
        if: github.ref == 'refs/heads/dev'
        run: |
          VITE_API_BASE=/dev/ pnpm build
          mkdir -p output/dev
          cp -r dist/* output/dev/

      - name: Inspect output
        run: |
          echo "==== output ===="
          ls -la output
          echo "==== output/dev ===="
          ls -la output/dev || echo "NO DEV"

      - uses: actions/upload-pages-artifact@v3
        with:
          path: output

      - uses: actions/deploy-pages@v4
