name: Deploy Dev

on:
  push:
    branches: [develop]

permissions:
  contents: read

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: pnpm

      - run: pnpm install
      - run: pnpm --filter web build:dev

      - run: |
          echo "部署到 dev 服务器 / dev Pages"

      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v3
        with:
          path: apps/web/dist/prod
      - id: deployment
        uses: actions/deploy-pages@v4
     
